.menubar_1{
	margin-left: 550px;
}

.li_css {
	margin-left: 10px;
}
.profile{
	border-radius: 50%;
	padding: 10px;
	background-color: rgb(244, 60, 153);
	box-shadow: 0px 0px 1px pink;
	color: white;
}

.name1{
	font-size: 60px;
}

.name{
	font-size: 60px;
	color: hotpink;
}
.image{
	border: 0px solid white;
	border-radius: 10px;
	box-shadow: 0px 0px 15px black;

}
.info{
	border: 3px solid whitesmoke;
	border-radius: 10px;
	box-shadow: 0px 0px 10px black;
}
.button1{
	border: 3px solid white;
	/*border-radius: 10px;*/
	box-shadow: 0px 0px 20px grey;
}

.text1{
	 
	color: hotpink;
	text-align: center;
}


.text{
	 margin-top: 50px;
}

.text2{
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}

.image1{
	height: 200px;
	width: 250px;
	border-radius: 10px;
}

.year{
	width: 150px;
	box-shadow: 0px 0px 10px 0px black;
	background-color: #15d3e8;
	border-radius: 80px;
	text-align: center;
}
.button2{
	margin-top: 100px;
	width: 150px;
	height: 50px;
	border: none !important;
	box-shadow: 0px 0px 10px 0px black;
	border-radius: 10px;
}

.info1{
	height: 80px;

	text-align: center;
	color: black;
	border: 3px solid black;
	border-radius: 10px ;
	box-shadow: px 0px 10px 0px black;
}

.info1:hover{
 color: #15d3e8;

}

.red{
	background-color: white;
}

.red:hover{
	background-color:  #15d3e8;
}

.botm{
	margin-top: 200px;

}

.last{
	margin-top: 200px;
}
 
 .vijay{
 	margin-top: 150px;
 }



 .linkin{
   float: left;
 	height: 50px;
 	width: 50px;
 	margin-top: 300px;
 	position: absolute; 
 }

 .instagram{
 	height: 50px;
 	width: 50px;
  margin-left: -60px;
 	float: left;
 	margin-top: 300px;
 	position: absolute;	 
 }

 .twiter{
 	height: 50px;
 	width: 50px;
  margin-left: -120px;
 	float: left;
 	margin-top: 300px;
 	position: absolute;	 
 }

 .menu{
    
   z-index: 9999;
   top: 0px;
   left: -0px;
   right: 0px;

background-color: #058a99;
/*   background-color: rgba(20, 20, 20, 0.5);*/


}

.logo_name{
	font-size: 20px;
	position: absolute;
	top: 35px;
	margin-left: 81px;
}

.vijay3{
	margin-top: 150px;
}


.simplebar-scrollbar:before {
  background-color: #888; /* or any color you prefer */
}